body{
  background-color: #0D1118;
  color: white;
}
.card {
  margin-top: 5px;
  background-color: transparent;
  color:white;
  border-bottom: 1px solid #30363D;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.card-container{

}
.avatar img{
  width: 100px;
  border-radius: 50px;
  border: 1px solid #212224;
}
.card-wrapper{
  margin-left: 10px;
}
.card-name a{
  text-decoration: none;
  font-weight: 700;
}
.hello-page span{
  font-weight: 600;
  font-size: 2em;
}
.card-description span{
  color:#AEB6BE
}
.underline{
  display: flex;
}
.card-language span{
  color: #8B949E;
}
.card-date span{
  color: #8B949E;
}
.card-date{
margin-left: 10px;
}
.hello-page{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 10px;
  justify-content: center;

}
.search-input {
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: #161C22;
}
.search-button{
  border-radius: 10px;
  color: white;
  background-color: #0D1118;
  border-color: #30363D;
  background-color: #0D1118;
}

.search-input-item{
    background-color: #0D1118;
    border: 1px solid #30363D;
    border-radius: 10px;
    min-width: 300px;
    color: white;
    padding-left: 10px;
}

.search-result-wrapper{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.cards-container{
  
}
.cards-body-wrapper{
  margin-top: 20px;
}
.selectedPages {
    /* font-weight: bold; */
    background-color: red;
}

/* PAGIN */
.wrapMapPages{
  /* overflow: hidden; 
  text-overflow: ellipsis;  */
}
.pagination{
  display: flex;
  max-width: 200px;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;

}
.prewPage{
margin-left: 10px;
margin-right: 10px;
}
.nextPage{
margin-left: 10px;
margin-right: 10px;
}